{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "targets": {
          "browsers": [
            ">0.25%",
            "last 2 versions",
            "not ie 11",
            "not op_mini all"
          ]
        }
      }
    ],
    
    "stage-2"
  ],
  "plugins": [
    "transform-runtime"
  ],

  // "plugins":["@babel/plugin-syntax-dynamic-import"]
}